@mixin clearfix {
  &::after {
      content: "";
      display: table;
      clear: both;//left n right
  }
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin hover-pointer {
  &:hover {
    cursor: pointer;
  }
}